/*
    Author: Ethan Clapham
    Date: 19/02/2025
    Description: Register page styles
*/

/* styling of the error message */
.error p {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* styling of the form */
.register-form {
    position: relative;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style the labels */
.register-form label {
    position: absolute;
    left: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.register-form ul {
    text-align: left;
}

/* Input field styling */
.register-form input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style the submit button */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #505050;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    border: solid 1px #505050;
}

.submit-btn:hover {
    background-color: #9b9b9b;
}