<!--
    Author: Ethan Clapham
    Date: 04/02/2025
    Description: Contents of the dashboard page.
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!--Link to the CSS file for the dashboard page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <h1>Welcome to your dashboard</h1>

    <!--Buttons to log in and register-->
    <div class = "button-container">
        <a href="{% url 'garden' %}" class = "button">Your Garden</a>
        <a href="{% url 'play_screen' %}" class = "button-play">Play Game</a>
    </div>

    <!--Garden demonstration-->
    <img src="{% static 'resources/gardenPreview.png' %}" alt="Garden" class="garden">

    <!--Leaderboard-->
    <p>Leaderboard preview here</p>
{% endblock %}