{% extends 'base.html' %}
    <head>
        <title>Education</title>
        <!--Links to CSS files for styling-->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <div class = "left-section">
                    <a href="home.html" class = "logo">
                        <img src="{% static 'resources/university-of-exeter-logo.png' %}" alt="University Logo">
                    </a>

                    <div class = "nav-links">
                        <a href="home.html">Home</a>
                        <a href="education.html">Education</a>
                    </div>
                </div>

                <div class = "account">
                    <a href="{% url 'register' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            </nav>
        </header>

        <div class = "main-content">
            <h1>Welcome</h1>
            <p>Some eco stuff</p>
        </div>
    </body>
</html>