<!--
    Author: Edward Pratt
    Date: 20/02/2025
    Description: Page containing a user's garden.
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!--Link to the CSS file for the page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/garden.css' %}">
{% endblock %}

{% block content %}
    <!--Main content of the page-->
    <h1>My Garden</h1>

    <!-- Container for Pixi.js -->
    <div id="game-wrapper">
        <div id="game-container">
            <!-- Canvas for Pixi.js -->
        </div>
    </div>

    <!-- Submenu for tile options -->
    <div id="context-menu">
        <button id="edit-tile">Edit Tile</button>

    </div>

    <!-- Submenu for texture options -->
    <div id="texture-submenu">
        <!-- Buttons for texture options will be dynamically added here -->
    </div>

    <button id="save-button">Save Garden</button>
    <button id="load-button">Load Garden</button>
    <!-- Include PixiJS from CDN, defer loading -->




    <h1>Store</h1>
    <div id="store-container">
        <div id="store-grid"></div>
    </div>


    {% block extra_js %}
        <script>
            window.MEDIA_URL = "{% get_media_prefix %}";  // Pass MEDIA_URL from Django to JS
        </script>
        <script src="https://pixijs.download/release/pixi.js" defer></script>
        <script type="module" src="{% static 'js/store.js' %}"></script>
        <script type="module" src="{% static 'js/updateOwnedQuantity.js' %}"></script>
        <script src="{% static 'js/garden.js'%}" defer></script>

    {% endblock %}









{% endblock %}
