<!--
    Author: Ethan Clapham, Edward Pratt
    Date: 20/02/2025
    Description: Contents of the leaderboard page.
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Link to the CSS file for the dashboard page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
    <!-- Link to DataTables CSS for table styling -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <!-- Generating a leaderboard with users stats !-->
    <h1>Leaderboard</h1>

    <!-- Table displaying the leaderboard -->
    <div class = "table-container">
        <table id="sustainabilityTable" class="display">
            <thead>
            <tr>
                <th>User</th>
                <th>Packaging Recycled (Kg)</th>
                <th>Plastic Recycled (kg)</th>
                <th>Metal Recycled (kg)</th>
                <th>Paper Recycled (kg)</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through each record in the database and display the user's stats -->
            {% for record in records %}
                <tr>
                    <td>{{ record.userID }}</td>
                    <td>{{ record.packagingRecycled }}</td>
                    <td>{{ record.plasticRecycled }}</td>
                    <td>{{ record.metalRecycled }}</td>
                    <td>{{ record.paperRecycled }}</td>
                    <td>{{ record.yourTotalPoints }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Link to the DataTables JavaScript library for displaying a sortable table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- Initialize the DataTables sorting functionality -->
    <script>
        $(document).ready(function() {
            $('#sustainabilityTable').DataTable();
        });
    </script>

{% endblock %}
