<!--
    Author: Ethan Clapham
    Date: 20/02/2025
    Description: Contents of the leaderboard page.
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!--Link to the CSS file for the dashboard page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
{% endblock %}

{% block content %}
    <p>Leaderboard element here</p>
    <table id="leaderboardTable" class = "display">
        <thead>
        <tr>
            <th>User</th>
            <th>Points</th>
            <th>CO₂ Saved (kg)</th>
            <th>Plastic Saved (kg)</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.username }}</td>
                <td>{{ record.points }}</td>
                <td>{{ record.co2_saved }}</td>
                <td>{{ record.plastic_saved }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}