{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <!--Links to CSS files for styling-->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
    </head>

    <body>
        <!--Header section with navigation menu-->
        <header>
            <nav>
                <!--Navigation to different sections of the page-->
                <div class = "left-section">
                    <a href="{% url 'home' %}" class = "logo">
                        <img src="{% static 'resources/university-of-exeter-logo.png' %}" alt="University Logo">
                    </a>

                    <div class = "nav-links">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="education.html">Education</a>
                    </div>
                </div>

                <!--Navigation to account management pages-->
                <div class = "account">
                    <a href="">Sign Up</a>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            </nav>
        </header>

        <!--Main content of the page-->
        <main>
            <h1>Log In</h1>
        </main>
    </body>
</html>