<!--
    Author: Ethan Clapham
    Date: 21/02/2025
    Description: Quiz Page
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block content %}
    <h1>Quiz</h1>

    <form method="post">
        {% csrf_token %}
        
        {% for q in questions %}
        <div class="question-container">
            <p><strong>{{ q.question }}</strong></p>
            {% for choice in q.choices %}
                <input type="radio" name="q{{ q.quizID }}" value="{{ choice }}" required> {{ choice }}<br>
            {% endfor %}
        </div>
        {% endfor %}
    
        <button type="submit">Submit</button>
    </form>

    {% if score is not None and request.method == "POST" %}
    <div class="score-popup">
        <h3>Quiz Results</h3>
        <p>You got {{ score }} correct answers!</p>

        {% if incorrect_answers %}
            <div class="incorrect-answers">
                <h3>Incorrect Answers</h3>
                <ul>
                    {% for item in incorrect_answers %}
                        <li>
                            <strong>Question:</strong> {{ item.question }}<br>
                            <strong style = "color: red;">Answer:</strong> {{ item.your_answer }}<br>
                            <strong style = "color: green;">Correct Answer:</strong> {{ item.correct_answer }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button onclick="closePopup()">Close</button>
    </div>
    {% endif %}

    <script>
        function closePopup() {
            document.querySelector(".score-popup").style.display = "none";
        }
    </script>

{% endblock %}