{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <!--Main content of the register page-->
    <h1>Register</h1>

    <!--Form for user to register-->
    <form method="post" class="register-form">
        {% csrf_token %}

        <!--Username Field-->
        <label for="{{ form.username.id_for_label }}">Username:</label><br>
        {{ form.username }} <br>  <!-- Render the username field -->
        {% if form.username.errors %}
            <div class="error">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!--Email Field-->
        <label for="{{ form.email.id_for_label }}">Email:</label><br>
        {{ form.email }} <br>  <!-- Render the email field -->
        {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>

        <!--Password Field-->
        <label for="{{ form.password1.id_for_label }}">Password:</label><br>
        {{ form.password1 }} <br>  <!-- Render the password field -->
        {% if form.password1.errors %}
            <div class="error">
                {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <p>
            Enter the same password as before, for verification
        </p>

        <!--Password Confirmation Field-->
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label><br>
        {{ form.password2 }} <br>  <!-- Render the password confirmation field -->
        {% if form.password2.errors %}
            <div class="error">
                {% for error in form.password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit" class="submit-btn">Register</button>
    </form>
{% endblock %}
