<!--
    Author: Ethan Clapham
    Date: 20/02/2025
    Description: Contents of the statistics page.
-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!--Link to the CSS file for the dashboard page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
{% endblock %}

{% block content %}
    <h1>Statistics</h1>

    <div class = "content">
        <div class = "grid">
            <div class = "item">
                <h3>Your Points</h3>
                <p id = "points">{{ user_points }}</p>
            </div>

            <div class = "item">
                <h3>KG of CO2 Saved</h3>
                <p id = "co2">0</p>
            </div>

            <div class = "item">
                <h3>KG of Plastic Saved</h3>
                <p id = "plastic">0</p>
            </div>
        </div>
    </div>
{% endblock %}