.sprite-tile_000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -0px;
 }
 .sprite-tile_001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -0px;
 }
 .sprite-tile_002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -0px;
 }
 .sprite-tile_003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -0px;
 }
 .sprite-tile_004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -0px;
 }
 .sprite-tile_005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -0px;
 }
 .sprite-tile_006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -0px;
 }
 .sprite-tile_007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -0px;
 }
 .sprite-tile_008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -0px;
 }
 .sprite-tile_009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -0px;
 }
 .sprite-tile_010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -0px;
 }
 .sprite-tile_011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -32px;
 }
 .sprite-tile_012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -32px;
 }
 .sprite-tile_013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -32px;
 }
 .sprite-tile_014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -32px;
 }
 .sprite-tile_015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -32px;
 }
 .sprite-tile_016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -32px;
 }
 .sprite-tile_017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -32px;
 }
 .sprite-tile_018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -32px;
 }
 .sprite-tile_019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -32px;
 }
 .sprite-tile_020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -32px;
 }
 .sprite-tile_021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -32px;
 }
 .sprite-tile_022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -64px;
 }
 .sprite-tile_023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -64px;
 }
 .sprite-tile_024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -64px;
 }
 .sprite-tile_025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -64px;
 }
 .sprite-tile_026 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -64px;
 }
 .sprite-tile_027 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -64px;
 }
 .sprite-tile_028 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -64px;
 }
 .sprite-tile_029 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -64px;
 }
 .sprite-tile_030 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -64px;
 }
 .sprite-tile_031 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -64px;
 }
 .sprite-tile_032 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -64px;
 }
 .sprite-tile_033 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -96px;
 }
 .sprite-tile_034 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -96px;
 }
 .sprite-tile_035 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -96px;
 }
 .sprite-tile_036 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -96px;
 }
 .sprite-tile_037 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -96px;
 }
 .sprite-tile_038 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -96px;
 }
 .sprite-tile_039 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -96px;
 }
 .sprite-tile_040 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -96px;
 }
 .sprite-tile_041 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -96px;
 }
 .sprite-tile_042 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -96px;
 }
 .sprite-tile_043 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -96px;
 }
 .sprite-tile_044 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -128px;
 }
 .sprite-tile_045 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -128px;
 }
 .sprite-tile_046 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -128px;
 }
 .sprite-tile_047 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -128px;
 }
 .sprite-tile_048 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -128px;
 }
 .sprite-tile_049 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -128px;
 }
 .sprite-tile_050 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -128px;
 }
 .sprite-tile_051 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -128px;
 }
 .sprite-tile_052 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -128px;
 }
 .sprite-tile_053 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -128px;
 }
 .sprite-tile_054 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -128px;
 }
 .sprite-tile_055 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -160px;
 }
 .sprite-tile_056 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -160px;
 }
 .sprite-tile_057 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -160px;
 }
 .sprite-tile_058 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -160px;
 }
 .sprite-tile_059 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -160px;
 }
 .sprite-tile_060 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -160px;
 }
 .sprite-tile_061 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -160px;
 }
 .sprite-tile_062 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -160px;
 }
 .sprite-tile_063 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -160px;
 }
 .sprite-tile_064 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -160px;
 }
 .sprite-tile_065 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -160px;
 }
 .sprite-tile_066 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -192px;
 }
 .sprite-tile_067 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -192px;
 }
 .sprite-tile_068 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -192px;
 }
 .sprite-tile_069 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -192px;
 }
 .sprite-tile_070 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -192px;
 }
 .sprite-tile_071 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -192px;
 }
 .sprite-tile_072 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -192px;
 }
 .sprite-tile_073 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -192px;
 }
 .sprite-tile_074 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -192px;
 }
 .sprite-tile_075 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -192px;
 }
 .sprite-tile_076 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -192px;
 }
 .sprite-tile_077 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -224px;
 }
 .sprite-tile_078 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -224px;
 }
 .sprite-tile_079 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -224px;
 }
 .sprite-tile_080 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -224px;
 }
 .sprite-tile_081 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -224px;
 }
 .sprite-tile_082 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -224px;
 }
 .sprite-tile_083 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -224px;
 }
 .sprite-tile_084 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -224px;
 }
 .sprite-tile_085 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -224px;
 }
 .sprite-tile_086 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -224px;
 }
 .sprite-tile_087 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -224px;
 }
 .sprite-tile_088 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -256px;
 }
 .sprite-tile_089 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -256px;
 }
 .sprite-tile_090 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -256px;
 }
 .sprite-tile_091 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -256px;
 }
 .sprite-tile_092 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -256px;
 }
 .sprite-tile_093 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -256px;
 }
 .sprite-tile_094 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -256px;
 }
 .sprite-tile_095 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -256px;
 }
 .sprite-tile_096 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -256px;
 }
 .sprite-tile_097 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -256px;
 }
 .sprite-tile_098 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -256px;
 }
 .sprite-tile_099 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -288px;
 }
 .sprite-tile_100 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -288px;
 }
 .sprite-tile_101 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -288px;
 }
 .sprite-tile_102 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -288px;
 }
 .sprite-tile_103 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -288px;
 }
 .sprite-tile_104 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -160px -288px;
 }
 .sprite-tile_105 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -192px -288px;
 }
 .sprite-tile_106 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -224px -288px;
 }
 .sprite-tile_107 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -256px -288px;
 }
 .sprite-tile_108 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -288px -288px;
 }
 .sprite-tile_109 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -320px -288px;
 }
 .sprite-tile_110 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -0px -320px;
 }
 .sprite-tile_111 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -32px -320px;
 }
 .sprite-tile_112 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -64px -320px;
 }
 .sprite-tile_113 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -96px -320px;
 }
 .sprite-tile_114 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 32px;
     width: 32px;
     background-position: -128px -320px;
 }
 